html body {
    position: relative;
    margin: 0%;
    padding-bottom: 6rem;
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba(219, 219, 219, 0.6) 0%,rgba(192, 192, 192, 0.469) 100%), url('http://AlmeidaJS.github.io/imagens/paisagem.jpg');
    /*background-size: 100% 100%;*/
    bottom: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Bitter', serif;
  }

/*Inicio do cabeçalho*/

header .caixa h1 img{
    padding: 0px 0;
    top: 0px;
    left: 50%;
    transform: scale(.8);
}
nav{
    position: absolute;
    top: 100px;
    left: 250px;
}

.caixa{
    position: relative;
    width: 100%;
    margin: 0px;
    left: 0px;
}

nav li{
    display: inline;
    padding: 0% 15px;
    margin: 0px 0px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;

}
nav a:hover{/*rastreio de comportamento (hover=passar o mouse)*/
    color: #c78c19;
}

.lista1 a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;

}
.lista1 a:hover{/*rastreio de comportamento (hover=passar o mouse)*/
    color: #c78c19;
}

/*Fim do cabeçalho*/

.tudo{
    margin: 50px 0 80px;
}

main{
    margin: 0 auto;
    padding-top: 20px;
    max-width: 640px;
    width: 100%;
}

/*Inicio do comportamento de formulário*/



/*Fim do comportamento de formulário*/

/*Inicio do rodapé*/

footer{
    text-align: center;
    background-size: 17% 100%;
    background-image: linear-gradient(to bottom, rgba(12, 12, 12, 0.431) 100%,rgba(0, 0, 0, 0.705) 100%);
    border: 0 ;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    color: #ffffff;
}

/*Fim do rodapé*/
